{% extends 'base.html.twig' %}

{% block title %}
	{{chapter.titleChapter}}
{% endblock %}

{% block body %}

	<div class="container">
		<h1>{{chapter.titleChapter}}</h1>

		<section class="chapterSection">
			{% for subChapter in chapter.subChapters %}
				<div class="subChapterDiv">
					<button class="accordion">{{subChapter.titleSubChapter}}</button>
					<div class="panel">
						<video src="{{asset('uploads/pictures/' ~ subChapter.videoSubChapter) }}" width="100%" controls></video>
					</div>
				</div>

			{% endfor %}

		</section>
		<a href="{{ path('home') }}">Retour à l'accueil</a>
	{% endblock %}
