{% extends 'base.html.twig' %}

{% block title %}{{chapter.titleChapter}}{% endblock %}

{% block body %}
    <h1>{{chapter.titleChapter}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chapter.id }}</td>
            </tr>
            <tr>
                <th>TitleChapter</th>
                <td>{{ chapter.titleChapter }}</td>
            </tr>
            <tr>
                <th>PictureChapter</th>
                <td>{{ chapter.pictureChapter }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('chapters_index') }}">back to list</a>

    <a href="{{ path('chapters_edit', {'slug': chapter.slug}) }}">edit</a>

    {{ include('chapters/_delete_form.html.twig') }}
{% endblock %}
