{% extends 'base.html.twig' %}

{% block title %}{{theme.titleTheme}}
{% endblock %}

{% block body %}
	<div class="container">
		<h1>{{theme.titleTheme}}</h1>

		<section class="themeSection">
			{% for chapter in theme.chapters %}


				<a class="linkTheme" href="{{ path('chapters_show', {'slug': chapter.slug}) }}">
					<div class="card" style="width: 360px;">
						<img src="{{asset('uploads/pictures/' ~ chapter.pictureChapter) }}" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">{{chapter.titleChapter}}</h5>
						</div>
					</div>
				</a>

			{% endfor %}

		</section>
		<a href="{{ path('home') }}">Retour à l'accueil</a>

		
	{% endblock %}
